{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Custom Tags</title>
</head>
<body>
    
    <h3>Learning Custom Tags</h3>
        Author Name - {{author}} <br>
        Lower Case - {{author | func_lower}} <br>
        Title Case - {{author | func_title}} <br>
        Current Time - {% current_time "%d/%m/%Y %H:%M:%S %p" %}

        <br> <br>
        <h3> User Data </h3>
        {% show_users_table %}

</body>
</html>